<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration</title>
  <form class="form-inline" action="/register" method="POST">
    <div class="form-group mb-2">
      <label for="username">Email : </label>
      <input
        class="form-control"
        type="email"
        name="email"
        placeholder="yourname@email.com"
        style="width: 300px; margin: 1em"
      />
      <div class="form-group mb-2">
        <label for="password">Password : </label>
        <input
          class="form-control"
          type="password"
          name="password"
          placeholder="********"
          style="width: 300px; margin: 1em"
        />
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>









</head>
<body>
  
</body>
</html>